<div class="tab-content container">
<div id="home" class="tab-pane active" style="text-align:center">

  <canvas id="canvas"></canvas>
  <br />

  <button style="padding-left:40px;padding-right:40px;" onTouchEnd="$('#save').button('loading');$P.save(false)" onClick="$('#save').button('loading');$P.save(false)" data-loading-text="Saving..." id="save" class="btn btn-inverse btn-large">Save</button>
  <button onTouchEnd="$('#save-anew').button('loading');$P.save(true)" onClick="$('#save-anew').button('loading');$P.save(true)" data-loading-text="Saving..." id="save-anew" class="btn btn-large">Save &amp; begin again</button>

  <div class="social" style="clear:both;margin-top:8px;padding-left:30px;">
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>

    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <script src="/javascripts/edit.js"> </script>

  <script> 
  (function () { 

  $P.initialize({
    <% if @icon %>
    image_data: "<%= @icon.image_data %>",
    icon_id: <%= @icon.id || 0 %>
    <% else %>
    type: "bw8",
    hash: "<%= params[:hash] %>"
    <% end %>
  })

  })() </script>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33632168-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</div>

</div>
