<div data-role="page" id="page1">

	<div data-theme="d" data-role="header">
		<a data-ajax="false" data-role="button" data-transition="fade" data-theme="c" href="/">&laquo; Home</a>
		<h3><a id="permalink" data-ajax="false" href="/edit/1">permalink</a></h3>
	</div>

	<p id="notice"></p>
	<p id="error"></p>

	<div data-role="content" style="padding: 15px; text-align:center;">

		<canvas id="canvas"></canvas>

		<a data-ajax="false" data-role="button" data-theme="b" href="javascript:void()" onTouch="$P.save()" onClick="$P.save();">Save</a>
	</div>
</div>

<script src="/javascripts/edit.js"> </script>

<script> 
(function () { 

	$P.initialize({
		image_data: "<%= @icon.image_data %>",
		
	})
	$P.icon_id = <%= @icon.id %>

})() </script>
