<p id="notice"></p>
<p id="error"></p>

<style>
  #icons a {
    border:2px solid #fff;
    padding:10px;
  }
  #icons a:hover {
    border:2px solid #ccc;
  }
</style>

<div id="icons" style="padding:20px;">
<% @icons.each do |icon| %>
    <a href="/icon/<%= icon.id %>"><img style="width:16px;" src="<%= icon.image_data %>" /></a>
<% end %>
</div>

<br style="clear:both;" />
