<!DOCTYPE html>
<% if params[:action] == "new" %>
<html manifest="/pxlshp.manifest">
<% else %>
<html>
<% end %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pxlshp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jeffrey Warren">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/javascripts/jquery.min.js"> </script>
    <script src="/javascripts/b64.js"></script>
    <script src="/javascripts/todataurl.js"></script>

  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="header" class="navbar navbar-inverse navbar-static-top" style="margin-bottom:20px;padding-top:0;">
      <div class="navbar-inner" style="padding:0 10px;">
        <a class="brand" href="/"><img style="padding:-2px;width:20px;" src="/images/mnls.png" /></a>
        <ul class="nav">
          <li><a href="/">Pxlshp</a></li>
          <% unless @icon.nil? %><li><a id="permalink" href="/edit/<%= @icon.id %>">permalink</a></li><% end %>
        </ul>
        <a href="/new" class="btn"><i class="icon icon-plus-sign"></i> New</a>
      </div>
    </div>

    <div class="container" id="alerts"></div>

    <%= yield %>

    <% if params[:action] == "index" %>
    <footer style="margin-bottom:200px;">

      <hr />
      <div class="span6">
	<p>Pxlshp is <a data-ajax="false" href="https://github.com/jywarren/pxlshp">free software</a> by <a data-ajax="false" href="http://unterbahn.com">Jeffrey Warren</a> | <a href="https://github.com/jywarren/pxlshp/issues/new">Report bugs</a> | 
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>

        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p>
      </div>

    </footer>
    <% end %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.typeahead.js"></script>
    <script>
      (function() {
        $("[rel=tooltip]").tooltip()
        $("[rel=popover]").popover()
      })()
    </script>
  </body>
</html>
